<link href="/css/digest.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />

<div class="digest-card">
  <div class="digest-date">
    <%= @digest.created_at.strftime("%d %b, %Y") %>
  </div>
  <% @digest.articles.each do |article| %>
    <% @article = article %>
    <%= erb :article %>
  <% end %>
</div>
