<link href="/css/navbar.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />

<nav class="navbar" role="navigation" aria-label="main navigation">
  <a href="/dashboard">
    <div class="logo">
      <p>LD</p>
    </div>
  </a>
  <div class="right-nav-section">
    <div class="notifications">
      <img src="/images/bell_icon.svg" color="#3960ad" class="notification-icon" />
    </div>
    <div class="profile">
      <div class="dropdowntn">
        <!-- <img class="profile-img" src="" /> -->
        <span class="user-name"></span>
      </div>
      <div class="dropdown-content">
        <span>Profile</span>
        <span>Settings</span>
        <span>Logout</span>
      </div>
    </div>
  </div>
</nav>
