.reading_list-card {
  flex-direction: column;
  margin: 0 3% 3% 0;
  min-height: 20vh;
  max-height: 50vh;
  overflow: scroll;
  opacity: 0.8;
  box-shadow: none;
  justify-content: flex-start;
  border: 0.1vw solid #efefef;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.reading_list-date {
  margin: 1% 1% 0 1% ;
  color: #602c25;
  font-size: 1.2vw;
  height: auto;
  padding-left: 0.5vw;
  border: 0.05vw solid #efefef;
}
