<link href="/css/landing.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
<script src="/js/signin.js"></script>

<div class="login-page">
  <%= partial :'partials/login_form' %>
</div>
