  <link href="/css/topics.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
  <%= include_gon %>
  <script src="/js/topics.js"></script>

  <%= partial :'partials/navbar' %>
  <div class="alert alert-danger" style="margin: 0;">
  </div>
  <div class="question">
    What would you like to learn?
  </div>
  <div id="bubbles"></div>
  <div class="button">
    <button id="done" type="button">Done</button>
  </div>
