<link href="/css/dashboard.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />

<%= erb :navbar %>
<div class="search">
  <input class="search-input" type="text" placeholder="Search" />
</div>
<div class="dashboard">
  <div class="digests">
    <% @digests.each do |digest| %>
      <% @digest = digest %>
      <%= erb :digest %>
    <% end %>
  </div>
  <%= erb :sidebar %>
</div>
