<link href="/css/dashboard.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />

<%= erb :navbar %>
<form action="/dashboard" method="post">
  <div class="search">
    <input class="search-input" name="query" type="search"
      data-provide="typeahead" placeholder="Search"
      autocomplete="on"
    />
  </div>
</form>
<div class="dashboard">
  <div class="reading_lists">
    <% @reading_lists.each do |reading_list| %>
      <% @reading_list = reading_list %>
      <%= erb :reading_list %>
    <% end %>
  </div>
  <%= erb :sidebar %>
</div>
