<link href="/css/dashboard.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />

<%= erb :navbar %>
<div class="search">
  <input class="search-input" type="text" placeholder="Search" />
</div>
<div class="dashboard">
  <div class="reading_lists">
    <% @reading_lists.each do |reading_list| %>
      <% @reading_list = reading_list %>
      <%= erb :reading_list %>
    <% end %>
  </div>
  <%= erb :sidebar %>
</div>
