<link href="/css/reading_list.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />

<div class="reading_list-card">
  <div class="reading_list-date">
    <%= @reading_list.created_at.strftime("%d %b, %Y") %>
  </div>
  <% @reading_list.articles.each do |article| %>
    <% @article = article %>
    <%= erb :article %>
  <% end %>
</div>
